* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.myQuizApp {
  background-color: rgb(142, 245, 129);
  width: 350px;
  height: 525px;
  box-shadow: rgb(0 0 0/10%) 0px 10px 50px;
  border-radius: 10px 10px 30px 10px;
}
.img img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.text {
  align-items: center;
  justify-content: center;
  margin: auto 20px;
  padding-bottom: 20px;
  letter-spacing: 0.6px;
}
.text h2 {
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}
.text p {
  line-height: 25px;
  font-size: 14px;
}
.myButton {
  display: flex;
  justify-content: end;
}
.btn {
  background-color: rgb(236, 75, 27);
  padding: 15px 20px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 50% 0;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgb(21, 161, 114);
}

.rule-box {
  background-color: aquamarine;
  padding: ;
  width: 350px;
  height: 455px;
  box-shadow: rgb(0 0 0/10%) 0px 10px 50px;
  border-radius: 10px 10px 30px 10px;
}

.rule-box h2 {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  border-bottom: 1px solid;
}
.rule-text {
  padding: 20px;
  line-height: 30px;
}
.ruleBoxBtn {
  display: flex;
  justify-content: space-between;
}
/* question part */
.questionPart {
  background-color: rgba(199, 224, 10, 0.52);
  width: 350px;
  height: 525px;
  box-shadow: rgb(0 0 0/10%) 0px 10px 50px;
  border-radius: 10px 10px 30px 10px;
  padding: 30px;
}
.header {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timeLine {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background-color: blue;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* border: 1px solid; */
  background-color: rgb(194, 224, 235);
  /* padding: 5px 10px; */
  height: 30px;
  width: 120px;
}
#time {
  color: rgb(172, 8, 8);
  font-weight: 500;
}
#second {
  background-color: black;
  width: 35px;
  height: 35px;
  color: white;
  padding: 8px;
  border-radius: 5px;
}
.questionOption h2 {
  font-size: 30px;
  line-height: 50px;
  padding-bottom: 10px;
}

.option {
  border: 1px solid blue;
  background-color: rgb(211, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 17px;
  margin-bottom: 10px;
}

.footer {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .text h2 {
    font-size: 18px;
  }

  .text p {
    font-size: 11px;
  }

  .btn {
    font-size: 13px;
    padding: 8px 12px;
  }
}
