* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.quiz-one {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}
.answer-options input {
  padding: 10px;
  margin: 5px;
  background-color: lavender;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.quiz-one button {
  width: 80px;
  padding: 5px;
  background-color: rgb(140, 214, 27);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
